<h2 class="articles">Check Out Today's Articles!</h2>
      <hr>
     		  
     
    {{#each articles }}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<h2> {{ title }} </h2>
				<div> 
					<a href="{{ link }}"> Read More </a>
				</div>
      </div>
    {{/each}}